<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Film", "Film", "Admin")</li>
                    <li>@Html.ActionLink("Trailer", "Trailer", "Admin")</li>
                    <li>@Html.ActionLink("Thể loại", "TheLoai", "Admin")</li>
                    <li>@Html.ActionLink("Quốc gia", "QuocGia", "Admin")</li>
                </ul>
                <a href="@Url.Action("Logout","Admin")" class="btn btn-default">Đăng xuất</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CodeNerd Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>

<style>
    
    a.btn.btn-default {
        float: right;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #222222;
        color: #92948a;
        border: none;
    }
        a.btn.btn-default:hover {
            color: white;
        }
</style>
