<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CODE NERD", "Index", "NguoiDung", new { area = "" }, new { @class = "navbar-brand header-title" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>                
                </ul>
                <a href="@Url.Action("Register", "NguoiDung")" class="button">Đăng ký</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Code Nerd Team</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .header-title {
        text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 60px #00FFFF, 0 0 75px #00FFFF, 0 0 98px #00FFFF;
        color: #FFFFFF;
        font-family: cursive;
        animation: blink 1s infinite;
        -webkit-animation: blink 2s infinite;
    }

    @@-webkit-keyframes blink {
        10%, 20%, 30% {
            color: #111;
            text-shadow: none;
        }

        0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
            text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 60px #00FFFF, 0 0 75px #00FFFF, 0 0 98px #00FFFF;
            color: #FFFFFF;
        }
    }

    .button {
        padding: 15px;
        text-decoration: none;
        color: #92948a;
        float: right;
        cursor: pointer;
    }

        .button:hover {
            text-decoration: none;
            color: #fff;
        }
</style>